


body {
  background: #FFF6E3;
}

.flex-container {
  /* border: solid black; */
  display: flex;
  width: 100%;
  justify-content: center;

}

.logo {
  background: url('../img/logo-small.svg') no-repeat  ;
  background-size: contain;
  margin: 1.4em 0 1.4em 1.4em;
  width: 2em;
  position: relative;
  z-index: 3;
  /* border: solid pink; */

}

.main-nav{
  display: flex;
  /* background-color: white; */
  position: relative;
  border: solid;
  
}

.main-nav-bar{
  /* padding-top: 5em; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background-color: white;
  left: 0%;
  top: 50%;
  z-index: 2;
  height: 90vh;
  width: 100vw;
  display: none;
}

.main-nav-bar li {
  /* border: solid tomato; */
  padding: 1.5em;
  border-bottom: 0.01em solid lightgray;
  font-size: 1.5em;
}

.main-nav:hover .main-nav-bar{
  display: flex;
}

.btn-drop-down-nav{
  background-color: rgba(0,0,0,0);
  font-size: 0.75em;
  display: inline;
  /* padding: 0; */
  position: absolute;
  width: 3.8em;
  height: 3.5em;
  padding-left: 2.8em;
  right: -30%;
  top: -5%;
}

.btn-drop-down-nav:hover {
  background-color: green;
}

.search {
  padding: 1em;
  flex-grow: 1;
  /* border: solid green; */
  display: flex;
  flex-direction: column;
}

.search [type="text"]{
  height: 100%;
  width: 100%;
  border: none;
  height: 3em;
  box-shadow: 0.08em 0.08em 2px rgb(233, 232, 232);
  background-color: white;
  /* border: solid purple; */
}

.search .search-nav {
  margin-top: 0.4em;
  text-align: right;
  /* height: 100%; */
  /* border: solid gray; */
  
}

button{
  border: none;
  box-shadow: 0.08em 0.08em 2px rgb(233, 232, 232);
  background-color: white;
  padding: 0.5em;
  
}

.search-result-item {
  border: solid black;
  /* display: flex;
  flex-direction: column; */
}

.item-slider-container {
  /* flex-grow: 2; */
  width: 100%;
  border: solid pink;
  background: gray url('../img/carroussel-placeholder.svg') no-repeat;
  background-size: contain;
  position: relative;

}

.item-slider-container img {
  width: 100%;
  /* height: 100%; */
}

.btn-like {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  padding: 0.4em;
  top: 5%;
  left: 85%;
}

i {
  font-size: 2em;
}

.item-content{
  /* flex-grow: 1; */
  background-color: white;
  padding: 0 0.5em;

}

.item-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0em;
}

.item-content-title {
  font-size: 1.3em;
}

.rate-star {
  color: goldenrod;
  font-size: 1em;
}

.rate {
  font-weight: 700;
  font-size: 1em;
}

.raters {
  font-weight: 100;
  font-style: normal;
  font-size: .8em;
  color: #666;
}

.item-price-container {
  padding: 0.7em 0;
}

.item-price {
  font-size: 1.25em;
}

.item-price-total {
  font-size: 0.9em;
  color: #666;
}