:root {
  /* --bg-color: #FFF6E3; */
  --bg-color: rgb(255, 251, 242);
  --bg-color-2: #FFF6E3;
  --border-color:rgb(122, 120, 108);
}

button:focus {
    outline: none;

}

body {
  background: var(--bg-color);
}

.btn {
  box-shadow: 0.2em 0em 0.5em 0.05em rgb(0, 0, 0, 0.1);
  border: none;
  background-color: white;
  padding: 0.5em;
}

.btn:hover {
  box-shadow: 0em 0em 0.5em 0.1em rgb(0, 0, 0, 0.2);
  cursor: pointer;

}

.header-flex-container {
  display: flex;
  width: 100%;
  justify-content: center;

}

.logo {
  background: url('../img/logo-small.svg') no-repeat  ;
  background-size: contain;
  margin: 1.4em 0 1.4em 1.4em;
  width: 2em;
  position: relative;
  z-index: 3;

}

.main-nav{
  display: flex;
  position: relative;
  
}

.main-nav-bar{
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background-color: white;
  left: 0%;
  top: 50%;
  z-index: 2;
  height: 90vh;
  width: 100vw;
  display: none;
}

.main-nav-bar li {
  padding: 1.5em;
  /* border-bottom: 0.01em solid lightgray; */
  font-size: 1.5em;
}

.main-nav:hover .main-nav-bar{
  display: flex;
}

.btn-drop-down-nav{
  background-color: rgba(0,0,0,0);
  font-size: 0.75em;
  display: inline;
  position: absolute;
  box-shadow: none;
  width: 3.8em;
  height: 3.5em;
  padding-left: 2.8em;
  right: -30%;
  top: -5%;
  border: none;
}


.main-nav:hover .btn-drop-down-nav {
  transform: scale(1, -1);
}

.btn-main-nav{
  text-decoration: none;
  border-bottom: solid 0.15em rgba(0,0,0,0);
  color: inherit;
}

.btn-main-nav:hover{
  border-bottom: solid 0.15em var(--border-color);
}

.search {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.search [type="text"]{
  height: 100%;
  width: 100%;
  border: none;
  height: 3em;
  box-shadow: 0em 0em 0.5em 0.1em rgb(0, 0, 0, 0.1);
  background-color: white;
}

.search [type="text"]:hover{
  box-shadow: 0em 0em 1em 0.1em rgb(0, 0, 0, 0.2);

}

.search .search-nav {
  margin-top: 0.4em;
  text-align: right; 
}


.search .search-nav .btn{
  
}

.btn-distance {
  display: none;
}

.btn-show-map {
  margin-left: 3em;
}

.active-filters {
  display: none;
  margin-bottom: 1em;
}

.btn-filter {
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 999em;
  border: solid 0.15em var(--border-color);
  font-size: 0.9em;
}

.btn-filter:hover {
  border: solid 0.075em var(--border-color);
  margin: 0.075em;
  cursor: pointer;
}

.btn-filter:active {
  border: solid 0.15em rgba(0,0,0,0);
  margin: 0;
  cursor: pointer;
  background-color: var(--bg-color);
}

main {
  padding: 0 0 0 1em;
}

.search-result-item {
  padding: 1.5em 0.5em;
  background: var(--bg-color);
  margin-bottom: .5em;
  border-top: solid lightgray 0.01em;
  
}

.item-slider-container {
  width: 100%;
  background: gray url('../img/carroussel-placeholder.svg') no-repeat;
  background-size: contain;
  position: relative;

}

.item-slider-container img {
  width: 100%;
  height: 100%;
}

.btn-carousel {
  display: none;
}  

i {
  font-size: 2em;
}

.item-content{
  /* background-color: white; */
  padding: 0.7em 0 0 0;

}

.item-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-content-title {
  font-size: 1.3em;
}

.rate-star {
  color: goldenrod;
  font-size: 1em;
}

.rate {
  font-weight: 700;
  font-size: 1em;
}

.raters {
  font-weight: 100;
  font-style: normal;
  font-size: .8em;
  color: #666;
}

.item-content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-price-container {
  margin-top: 1em;
}

.item-price {
  font-size: 1.25em;
}

.item-price-total {
  font-size: 0.9em;
  color: #666;
}

.btn-like {
  opacity: 50%;
}

.btn-like:hover {
  opacity: 100%;
  color: tomato;
}

.btn-like:active {
  opacity: 100%;
  color: red;
}

.btn-view {
  display: none;
}

@media only screen and (min-width: 900px) {

  
  .header-flex-container {
    flex-direction: column;
    padding: 0 1em;
  }


  .logo {
    background: url('../img/logo-full.svg') no-repeat  ;
    background-size: contain;
    width: 10em;
    height: auto;
    margin: 0;
    background-position: center;
  }

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    /* height: 200px; */
    position: static;
  }
  .main-nav-bar{
    flex-direction: row;
    justify-content: space-evenly;
    position: static;
    background-color: var(--bg-color);
    /* left: 0%;
    top: 50%; */
    z-index: 2;
    height: auto;
    width: 100%;
    display: flex;
  }

  .main-nav-bar li {
    padding: 1.5em;
    font-size: 1em;
  }

  .btn-main-nav:active{
    background-color: rgba(0,0,0,0.1);
  } 

  .btn-drop-down-nav{
    display: none;
  }

  .btn-drop-down-nav{
    background-color: rgba(0,0,0,0);
    font-size: 0.75em;
    display: none;
    position: absolute;
    box-shadow: none;
    width: 0em;
    height: 0em;
    padding-left:0em;
    right: -30%;
    top: -5%;
  }

  .search {
    flex-direction: row;
    padding: 1em 0;
  }

  .search .search-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    min-width: 12em;
    justify-content: space-between;
  }

  .btn-distance {
    display: inline;
  }

  .btn-define {
    display: none;
  }
  

  .active-filters {
    display: block;
  }


  main {
    display: flex;
  }
  .search-result-item {
    display: flex;
    align-items: center;
  }

  .item-slider-container{
    margin-right: 1em;
    /* min-width: 18em; */
    max-width: 18em; 
    max-height: 100%;
    width: 100%;
  }


  .item-content{

  }

  .item-content-header{
    margin-bottom: 2em;
  }

  .btn-carousel {
    display: block;
    position: absolute;
    opacity: 50%;
    border-radius: 50%;
    padding: 0.4em;
    top: 40%;
    color: white;
  }

  .btn-carousel:hover {
    opacity: 100%;
  }

  .btn-carousel:active {
    opacity: 100%;
    font-size: .8em;
    top:42.5%
  }
  
  .btn-next {
    left: 80%;
  }
  
  .btn-prev {
    left: 2%;
  }

  .btn-view {
    margin-top: 3em;
    display: inline;
    position: absolute;
    right: 3em;
  }

  #map{
    width: 50%;
    height: 100vh;
  }

}
/* 
@media only screen and (min-width: 1200px) {
  body{
    background-color: black;
  }


} */