

/* .btn-show-map {
  margin-left: 3em;
} */

.active-filters {
  /* display: none; */
  margin: 0 1em 1em 1em;
}


.btn-filter {
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 999em;
  border: solid 0.15em var(--border-color);
  font-size: 0.8em;
}

.btn-filter:hover {
  border: solid 0.075em var(--border-color);
  margin: 0.075em;
  cursor: pointer;
}

.btn-filter:active {
  border: solid 0.15em rgba(0,0,0,0);
  cursor: pointer;
  background-color: var(--bg-color);
}

main {
  padding: 0 1em;
}

.search-result-item a, .search-result-item a:visited {
  text-decoration: inherit;
  color: inherit;
} 



.search-result-item {
  padding: 1.5em 0em;
  background: var(--bg-color);
  /* margin-bottom: .5em; */
  border-top: solid var(--border-color-light) 0.01em;
  position: relative;
}

.superhost::before {
  position: absolute;
  /* content: 'SUPERHOST'; */
  content: "";
  background: rgba(255, 255, 255, 0) url('../img/superhost-tag.svg') no-repeat; 
  min-width: 40%;
  max-width: 40%;
  /* /* background-size: cover; */
  top: 1.5em;
  left: -1em;
  margin-top: 0.5em;
  width: 10em;
  height: 40%;       
  display: block;
  width: inherit;
  z-index: 1; 
}
          
.item-slider-container {
  
  width: 100%;
  /* background: gray url('../img/carroussel-placeholder.svg') no-repeat; */
  background-size: contain;
  position: relative;
  /* flex-grow: 1; */

}

.item-slider-container img {
  min-width: 100%;
  /* min-height: 10em; */
  max-width: 8em;
}

.btn-carousel {
  display: none;
}  



.item-content{
  /* background-color: white; */
  padding: 0.7em 0 0 0;

}

.item-content p {
  font-family: 'AirbnbCerealLight';
}

.features {
  color: var(--text-color-3);
  margin-top: .5em;
  font-size: 1em;
}

.item-content-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-content-title {
  font-family: 'AirbnbCerealMedium';
  font-size: 1.3em;
}


.item-content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.btn-like {
  opacity: 50%;
}

.btn-like:hover {
  opacity: 100%;
  color: tomato;
}

.btn-like:active {
  opacity: 100%;
  color: red;
}

.btn-view {
  display: none;
}

.page-selector {
  display: none;
}

.load-more {
  display: block;
}

.btn-show{
  padding: .3em 1em;
  background-color: white;
  border: var(--border-color-light) solid;
  color: var(--text-color-3);
  border-radius: 2em;
  position: sticky;

  left: 42%;
}

.btn-show i {
  vertical-align: middle;
}

.show-map {
  display: block;
  bottom: 0.1em;
}

.show-list {
  display: block;
  opacity: 0;
  bottom: 0.1em;
}

#map{
  width: 100%;
  height: 100vh;
  /* grid-row: 1 / 3;
  grid-column: 2 / 3; */
}

.sticky-map{
  width: 100%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  display: none;
}


.loading-gif {
  margin: auto;
  display: block;
}



@media only screen and (min-width: 650px) {

  
  .loading-gif {
    display: none;
  }
  
  .load-more {
    display: none;
  }
  
 
  
  
  .btn-filter{
    font-size: 1em;
  }

  .active-filters {
    display: block;
    
  }


  main {
    display: flex;
    flex-direction: column;
  }

  .left-column {
    padding-right: 1em;
    display: flex;
    flex-direction: column;
  }

  .search-result-item {
    /* display: flex; */
    align-items: center;
    padding: 0em 0.5em 1em 0.5em;
   
  }

  .search-result-item a{
    display: flex;
    /* align-items: center;
    padding: 0em 0.5em 1em 0.5em; */
   
  }


  .search-result-item:hover{
    background-color:white;
  }

  .item-slider-container{
    margin-top: 0.7em;
    margin-right: 1em;

    width: 18em;
    min-width: 18em;
  
  }

  .superhost::before {
    position: absolute;
    /* content: 'SUPERHOST'; */
    content: "";
    background: rgba(255, 255, 255, 0) url('../img/superhost-tag.svg') no-repeat; 
    min-width: 20%;
    max-width: 40%;
    /* /* background-size: cover; */
    top: 1.5em;
    left: -1.5em;
    margin-top: 1em;
    width: 10em;
    height: 40%;       
    display: block;
    width: inherit;
    z-index: 1; 
  }

 
  .superhost::before {top: 0em;}


  .item-content-header{
    margin-bottom: 2em;
    
  }

  .btn-carousel {
    display: block;
    position: absolute;
    opacity: 50%;
    border-radius: 50%;
    padding: 0.4em;
    top: 40%;
    color: white;
  }

  .btn-carousel:hover {
    opacity: 100%;
  }

  .btn-carousel:active {
    opacity: 100%;
    font-size: .8em;
    top:42.5%
  }
  
  .btn-next {
    left: 80%;
  }
  
  .btn-prev {
    left: 2%;
  }

  .btn-view {
    margin-top: 3em;
    display: inline;
    position: absolute;
    right: 3em;
  }
 

  
  

  

  .website-footer{
    border-top: solid var(--border-color-light) 0.01em;
  }

  .website-footer a{
    text-decoration: none; 
    color: var(--text-color);
  } 

  .website-footer a:hover{
    text-decoration: underline; 
  } 


  
  .page-selector {
    text-align: center;
    display: flex;
    margin: 2em 0;
    justify-content: center;
    align-items: center;
  }

  .page-selector a {
    text-decoration: none;
    margin: 0 1em;
    font-size: 1em;
  }

  .page-selector .selected {

    background-color: var(--logo-red-color);
    color: white;
    border-radius: 50%;
    display: inline-block;
    min-width: 1.6em;
    line-height: 1.6em;

    font-size: 1.2em;
    /* padding: 0.2em; */
    margin-bottom: -0.1em; */
  }

 

  .btn-arrow-page i{
    color: var(--logo-green-color);
    font-size: 1.8em;
    /* vertical-align: middle; */
  }

  

}

@media only screen and (min-width: 1200px) {

  .page-wrap{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 12fr 0.5fr; */
    display: flex;
    
  }


  .btn-show{
    display: none;
  }

  .sticky-map{

    display: block;
  }



}