  html{
    overflow-x: hidden;

  }
  
  main {
    position: relative;
    color: var(--text-color-2);

  }

  main i{
    font-size: 1em;
  }

  a{
    color: inherit;
    text-decoration: inherit;
  }

  h1{
    font-size: 1.8em;
    margin: 1em 0;
  }

  h2{
    font-size: 1.4em;
    margin: 1em 0;
  }

  h5{
    font-size: 1em;
  }

  h6{
    font-size: .8em;
    font-weight: normal;
  }

  
  .image-gallery {
    width: 100%;
    /* position: relative; */
  }

  .x-large,.secondary-img{
    display: none;
  }

  .left-colunm {
    /* padding: 0em 1.5em; */
  }


  .about-spot {
    margin: 1em 1.5em;
    /* border-bottom: var(--border-color-light) solid 0.2em; */
  }

  .about-spot>p{
    margin: 2em 0 0 0;
  }

  .spot-highlights{
    margin: 1em 0;
  }

  .spot-highlights li{
    font-weight: bold;
    margin: .5em 0;
  }

  .spot-highlights li p{
    font-weight: normal;
    margin-left: 1.5em;
  }

  .amenities {
    display: grid;
    margin: 1em 0.1em;
    grid-template-columns: 1fr 1fr;
    /* background-color: gray; */
  }

  .amenities p {
    padding: 0.5em;
  }

  .calendar-box{
    width: 100%;
  }

  /* .calendar {
    width: 100%;
    height: 15em;
  } */

  .collapse-cb {
    display: none;
  }

  .collapsable-label {
    display: flex;
    /* line-height: 2em; */
    padding: 1em 0;
    font-weight: bold;
    margin: 0 1.5em;
    justify-content: space-between;
    /* background-color: thistle; */
    border-bottom: solid 0.1em var(--border-color-light);

  }

  /* label::after{
    content: "V";
  } */

  .box{
    /* display: none; */
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    transition-property: transform, opacity, height;
    transition-duration: 0.5s;
    transform-origin: top;
  }

  .box p {
    margin-bottom: 1em;
  }

  .collapse-cb:checked ~ .box{
    transform: scaleY(1);
    /* display: block; */
    height: auto;
    opacity: 1;
    background-color: white;
    padding: 1em 1.5em;
    border-top: solid 0.1em var(--border-color-light);


    
  }
  .collapse-cb:checked + label .collapse-icon{
    transform: rotate(180deg);
    /* background-color: black; */
    
  }

  .collapse-cb:checked + label{
    border: none;
    font-weight: lighter;
    /* background-color: black; */
    
  }
/* 
  .collapse-cb:checked + label::after{
    content: "A";
  } */

  .total-review{
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .bar-review{
    display: flex;
    /* align-content: center; */
    align-items: center;
  }

  .bar-review .bar-subject{
    width: 50%;
    /* margin-right: 5em; */
  }  
  .bar-review .bar-plus{
    background-color: var(--logo-green-color);    
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    height: 0.2em;
  }  
  .bar-review .bar-void{
    background-color: lightgrey;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    height: 0.2em;
  }  

  .w-10{
    width: 10%;
  }
  .w-20{
    width: 20%;
  }
  .w-30{
    width: 30%;
  }
  .w-40{
    width: 40%;
  }
  .w-50{
    width: 50%;
  }

  .bar-review .bar-grade{
    width: 20%;
    margin-left: 1em;
  }  

  .user-review{
    display: grid;
    margin: 1.5em 0.5em;
    grid-template-columns: 1fr 4fr;
    gap: 0em;
    border-bottom: var(--border-color-light) solid 0.01em;
  }

  .user-review p{
    grid-column: 1 / 3  ;
  }  

  .user-review img{
    border-radius: 50%;
    height: 3em;
  }  


  .hosted-user{
    display: grid;
    margin: 1.5em 0.5em;
    grid-template-columns: 2fr 1fr;
    gap: 0em;
    border-bottom: var(--border-color-light) solid 0.01em;
  }

  .hosted-user p{
    grid-column: 1 / 3  ;
  }  

  .hosted-user img{
    border-radius: 50%;
    height: 3em;
    margin-bottom: 2em;
  }  


  .price{
    align-self: center;
  }

  .more-box-title{
    margin: 1rem 1.5rem 0 1.5rem;
    font-size: 1.5em;
  }

  .more-box{
    display: flex;
    min-width: 45em;
    margin: 0 1.5em;
    transition: transform 2s;
  }

  .more-box:hover{
    transform: translateX(-30em);
  }

  .more-spot, .more-xp{
    /* margin: 0.5em; */
    padding: 1em 0.25em;
    line-height: 1.2em;
    color: var(--text-color-3);
  }

  .item-price {
    font-weight: normal;
  }

  .rate {
    font-size: .9em;
  }

  .rate-star {
    font-size: .75em;
  }

  .book-card{
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0em;
    /* min-width: 45em; */
    background-color: white;
  }

  .btn-book{
    border: none;
    border-radius: 0.25em;
    width: 48%;
    background-color: var(--logo-red-color);
    color: white;
    font-family: 'AirbnbCerealMedium';
    padding: 0.8em 1.2em;
  }

  @media only screen and (min-width: 650px) {
    .image-gallery{
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.05em;
    }

    .primary-img{
      grid-row: 1 / 3;
    }

    .secondary-img{
      display: inline;
    }

    .left-colunm{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .hosted-user{
      grid-template-columns: 1fr 2.8fr;
    }

  
  }

  @media only screen and (min-width: 1200px) {

    
    main{
      display: flex;
      width: 80%;
      margin: auto;
    }


    .left-colunm{
      flex-grow: 1;
      margin-right: 1em;
      width: 70%;
    }

    .calendar-box{
      display: flex;
      flex-direction: row;
    }

    .book-card{
      flex-direction: column;
      flex-grow: 2;
      width: 30%;
      height: 100%;
      margin: 2em 0.2em;
      box-shadow: 0.2em 0.2em 0.2em 0em lightgrey ;
      position: sticky;
      top: 2em;
    }

    .price{
      align-self: flex-start;
      margin: 1em;
      
    }

    .btn-book{
      width: 100%;
      cursor: pointer;
    }

    .btn-book:hover{
      background-color: var(--logo-green-color);
    }

    .btn-book:active{
      background-color: var(--logo-green-color);
      opacity: 0.5;
    }
    
    .x-large{
      padding: 1em 0;
      display: block;
      border-top: solid var(--border-color-light) 0.01em;

    }

    .card-dates{
      border: var(--border-color) solid .1em;
      line-height: 2em;
      margin: 0 0 1em 0;
      text-align: center;
    }

    

    .card-dates strong{
    margin: 0 1em;
    }

    .guests-box{
      display: flex;
      justify-content: space-between;
      border: var(--border-color) solid .1em;
      line-height: 2em;
      text-align: center;
      margin: 0 0 2em 0;
      padding: 0 0.5em;

    }

    .guests-box i {
      align-self: center;
    }


    .book-detail li{
      display: flex;
      justify-content: space-between;
      border-bottom: var(--border-color-light) solid .1em;
      padding: 1em 0;
      /* border: solid; */
    }

    .book-detail li:last-child{
    border: none;
    }

  }  