  body{
    overflow-x: hidden;

  }
  
  main {
    position: relative;
    color: var(--text-color-2);

  }

  main i{
    font-size: 1em;
  }

  a{
    color: inherit;
    text-decoration: inherit;
  }

  h5{
    font-size: 1em;
  }

  h6{
    font-size: .8em;
    font-weight: normal;
  }

  
  .image-gallery {
    width: 100%;
    /* position: relative; */
  }

  .left-colunm {
    /* padding: 0em 1.5em; */
  }


  .calendar {
    width: 100%;
  }

  .collapse-cb {
    display: none;
  }

  .collapsable-label {
    display: flex;
    /* line-height: 2em; */
    padding: 1em 0;
    margin: 0 1.5em;
    justify-content: space-between;
    /* background-color: thistle; */
    border-bottom: solid 0.1em var(--border-color-light);

  }

  /* label::after{
    content: "V";
  } */

  .box{
    /* display: none; */
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    transition-property: transform, opacity, height;
    transition-duration: 0.5s;
    transform-origin: top;
  }

  .collapse-cb:checked ~ .box{
    transform: scaleY(1);
    /* display: block; */
    height: auto;
    opacity: 1;
    background-color: white;
    padding: 1em 1.5em;
    border-top: solid 0.1em var(--border-color-light);


    
  }
  .collapse-cb:checked + label .collapse-icon{
    transform: rotate(180deg);
    /* background-color: black; */
    
  }

  .collapse-cb:checked + label{
    border: none;
    font-weight: bolder;
    /* background-color: black; */
    
  }
/* 
  .collapse-cb:checked + label::after{
    content: "A";
  } */

  .book-card{
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: white;
  }

  .price{
    align-self: center;
  }

  .more-box-title{
    margin: 1rem 1.5rem 0 1.5rem;
    font-size: 1.5em;
  }

  .more-box{
    display: flex;
    min-width: 45em;
    margin: 0 1.5em;
    transition: transform 2s;
  }

  .more-box:hover{
    transform: translateX(-30em);
  }

  .more-spot, .more-xp{
    /* margin: 0.5em; */
    padding: 1em 0.25em;
    line-height: 1.2em;
    color: var(--text-color-3);
  }

  .item-price {
    font-weight: normal;
  }

  .rate {
    font-size: .9em;
  }

  .rate-star {
    font-size: .75em;
  }

  .btn-book{
    border: none;
    border-radius: 0.25em;
    width: 48%;
    background-color: var(--logo-red-color);
    color: white;
    font-family: 'AirbnbCerealMedium';
    padding: 0.8em 1.2em;
  }